.content{

    padding: 55px;
    display: flex;
    flex-direction: column;
    gap: 55px;
    align-items: center;
    background-color: rgb(126, 54, 54);

    .title{

        color: white;
        font-weight: bold;
        font-size: 38px;

    }

    .list{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3,1fr);
        gap:25px;

    }

    .action{

        width: 200px;
        height: 40px;
        background-color: white;
        border: none;
        color: black;
        cursor: pointer;
        font-weight: bold;

        transition: transform 0.3s ease-in-out;

        &:hover{

            background-color: black;
            color: white;
            transform: scale(1.15);

        }

    }

}

@media screen and ( max-width : 770px){

    .content{

        .title{

            text-align: center;
            font-size: 32px;
            width: 90%;

        }

        .list{

            display: flex;
            flex-direction: column;
            gap:25px;

        }

    }

}