.content{

    background-color: rgb(126, 54, 54);
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    padding: 50px;

    .title{

        font-weight: bold;
        font-size: 34px;
        color: white;

    }

    .message{

        color: black;
        font-size: 28px;
        width: 85%;
        text-align: center;

    }

    .messageLow{

        font-size: 18px;
        color: #beb2b2;
        text-align: center;

    }

    .list{

        display: grid;
        grid-template-columns: repeat(3, 1fr); // 3 coloane egale
        grid-template-rows: repeat(3, 1fr);    // 3 rânduri egale
        gap: 25px;

    }

}


@media screen and ( max-width : 1024px) {

    .content{

        .list{

            grid-template-columns: repeat(2, 1fr); // 3 coloane egale
            

        }

    }
    
}

@media screen and ( max-width : 1024px){

    .content{

        .title{

            text-align: center;
            font-size: 28px;

        }

        .message{

            font-size: 24px;

        }


    }

}


@media screen and ( max-width : 550px){


    .content{

      

        .message{

           width: 100%;

        }

        .list{

            grid-template-columns: repeat(1, 1fr)

        }


    }

}